<p>make-question works!</p>
<label for="inputPassword" class="sr-only">Question</label> <br>
<input type="text" id="inputUsername" name="input-username" [(ngModel)]="make.question"> <br>
<label for="inputPassword" class="sr-only">Correct Answer</label><br>
<input type="text" id="inputUsername" name="input-username" [(ngModel)]="make.correct"><br>
<label for="inputPassword" class="sr-only">Wrong Answer</label><br>
<input type="text" id="inputUsername" name="input-username" [(ngModel)]="make.wrong1"><br>
<label for="inputPassword" class="sr-only">Wrong Answer</label><br>
<input type="text" id="inputUsername" name="input-username" [(ngModel)]="make.wrong2"><br>
<label for="inputPassword" class="sr-only">Wrong Answer</label><br>
<input type="text" id="inputUsername" name="input-username" [(ngModel)]="make.wrong3"><br>